*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #E5E5E8;
    font-family: 'Lato', sans-serif;
}
.main-container{
    width: 100vw;
    height: 95vw;
    position: absolute;
}

.main{
    display: block;
    margin: 200px auto 0 auto;
    width: 400px;
    height: 30vh;
    padding: 10px;
    background-color: #E5E5E8;
}

h1{
    margin: 0 auto 30px auto;
    font-size: 40px;
    border-bottom: 3px solid #A6D6C9;
}

p:nth-child(3){
    margin-top: 20px;
    font-weight: bolder;
}
